amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
celery==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cssselect==1.2.0
DataRecorder==3.5.3
dj-database-url==2.2.0
Django==5.0.4
DownloadKit==2.0.2
DrissionPage==4.0.5.6
et-xmlfile==1.1.0
filelock==3.15.4
gunicorn==22.0.0
idna==3.7
kombu==5.3.7
lxml==5.2.2
openpyxl==3.1.5
packaging==24.1
prompt-toolkit==3.0.43
psutil==6.0.0
psycopg==3.2.1
psycopg-binary==3.2.1
pyperclip==1.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==5.0.4
requests==2.32.3
requests-file==2.1.0
six==1.16.0
sqlparse==0.5.0
tldextract==5.1.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
websocket-client==1.8.0
groq